﻿@page
<h3><u>int[] numbers = { 1, 2, 3, 4, 5 };</u></h3>
<br />
@{
    int[] numbers = { 1, 2, 3, 4, 5 };
}

<h5>Aggregate</h5>
@{
    int query = numbers.Aggregate((x, y) => x - y);
    @:Code: <code>numbers.Aggregate((x, y) => x - y); //int query = 1 - 2 - 3 - 4 - 5</code>
    <p>@query</p>
}

@{
    string[] words = { "Gaudeamus", "igitur", "Juvenes", "dum", "sumus" };
    @:Code: <code>words.Aggregate("Text:", (first, next) => $"{next} {first}");</code>
    var sentence = words.Aggregate("Text:", (first, next) => $"{next} {first}");
    <p>@sentence</p>
}
<h5>Count</h5>
@{
    //  number of even numbers that are greater than 10
    int[] numbers3 = { 1, 2, 3, 4, 10, 34, 55, 66, 77, 88 };
    @:Code: <code>.Count(i => i % 2 == 0 && i > 10)</code>
    int evenNumbers = numbers3.Count(i => i % 2 == 0 && i > 10);
    <p>@evenNumbers</p>
}
<h5>Min, Max, Average</h5>
@{
    Person[] people = { new Person("Tom", 37), new Person("Sam", 28), new Person("Bob", 41) };
    @:Code: <code>people.Min(p => p.Age); people.Max(p => p.Age); people.Average(p => p.Age);</code>
    int minAge = people.Min(p => p.Age);
    int maxAge = people.Max(p => p.Age);
    double averageAge = people.Average(p => p.Age);
    <dl>
        <dt>minAge:</dt>
        <dd>@minAge</dd>
        <dt>maxAge:</dt>
        <dd>@maxAge</dd>
    </dl>
}

@functions{
    record class Person(string Name, int Age);
}