﻿@page

<style>
    label {
        margin-bottom: 20px;
    }
</style>
<code>string[] people = { "Tom", "Tim", "Bob", "Sam" };</code>
<h5>All</h5>
@{
    string[] people = { "Tom", "Tim", "Bob", "Sam" };
    bool allHasThreeChars = people.All(s => s.Length == 3);
    @:Code: <code>.All(s => s.Length == 3)</code><br />
    <input type="checkbox" @(allHasThreeChars ? "checked" : "") />
    <label>allHasThreeCharacters</label>
}
<h5>All Starts With T</h5>
@{
    bool allStartsWithT = people.All(s => s.StartsWith("T"));
    @:Code: <code>.All(s => s.StartsWith("T"))</code><br />
    <input type="checkbox" @(allStartsWithT ? "checked" : "") />
    <label>allStartsWithT</label>
}
<h5>Any</h5>
@{
    bool anyHasMore3Chars = people.Any(s => s.Length > 3);
    @:Code: <code>.Any(s => s.Length > 3)</code><br />
    <input type="checkbox" @(anyHasMore3Chars ? "checked" : "") />
    <label>anyHasMore3Chars</label>
}
<h5>Any Starts With T</h5>
@{
    bool anyStartsWithT = people.Any(s => s.StartsWith("T"));
    @:Code: <code>.Any(s => s.StartsWith("T"))</code><br />
    <input type="checkbox" @(anyStartsWithT ? "checked" : "") />
    <label>anyStartsWithT</label>
}
<h5>Contains</h5>
@{
    bool hasTom = people.Contains("Tom");
    @:Code: <code></code><br />
    <input type="checkbox" @(hasTom ? "checked" : "") />
    <label>hasTom</label>

    bool hasMike = people.Contains("Mike");
    <input type="checkbox" @(hasMike ? "checked" : "") />
    <label>hasMike</label>
}
<p><code>string[] people2 = { "Tom", "Bob", "Kate", "Tim", "Mike", "Sam" };</code></p>
<h5>First and FirstOrDefault</h5>
@{
    string[] people2 = { "Tom", "Bob", "Kate", "Tim", "Mike", "Sam" };
    string firstWith4Chars = people2.FirstOrDefault(s => s.Length == 4);
    @:Code: <code>.First(s => s.Length == 4)</code><br />
    <label>firstWith4Chars: <input type="text" value="@firstWith4Chars" readonly /></label>
    <br />
    string firstWith4CharsDefault = people2.FirstOrDefault(s => s.Length == 9, "Undefined");
    <label>firstWith4CharsDefault: <input type="text" value="@firstWith4CharsDefault" readonly /></label>
}
<h5>Last and LastOrDefault</h5>
@{
    string? lastWith4Chars = people2.LastOrDefault(s => s.Length == 4);
    @:Code: <code>.LastOrDefault(s => s.Length == 4)</code><br />
    <label>lastWith4Chars: <input type="text" value="@lastWith4Chars" readonly /></label>
}
<h5>LastOrDefault with Default</h5>
@{
    string? lastWith5CharsOrDefault = people2.LastOrDefault(s => s.Length == 5, "Undefined");
    @:Code: <code>.LastOrDefault(s => s.Length == 5, "Undefined")</code><br />
    <label>lastWith5CharsOrDefault: <input type="text" value="@lastWith5CharsOrDefault" readonly /></label>
}
<h5>Empty Collection</h5>
@{
    string? lastOrDefaultEmpty = new string[] { }.LastOrDefault("hello");
    @:Code: <code>new string[] { }.LastOrDefault("hello")</code><br />
    <label>lastOrDefaultEmpty: <input type="text" value="@lastOrDefaultEmpty" readonly /></label>
}