﻿@page

<div class="container mt-4">
    <h2>Selected People</h2>

    @{
        string[] people = { "Tom", "Bob", "Sam", "Tim", "Tomas", "Bill" };
    }

    <h3>Without LINQ</h3>
    @{
        var selectedPeople = new List<string>();
        foreach (string person in people)
        {
            if (person.ToUpper().StartsWith("T"))
                selectedPeople.Add(person);
        }
        selectedPeople.Sort();
        @:Code: <code> @Html.Raw("if(person.ToUpper().StartsWith(\"T\")) selectedPeople.Add(person)"); </code>
        <ul>
            @foreach (string person in selectedPeople)
            {
                <li>@person</li>
            }
        </ul>
    }

    <h3>With LINQ</h3>
    @{
        var selectedPeople2 = from p in people where p.ToUpper().StartsWith("T") orderby p select p;
        @:Code: <code>from p in people where p.ToUpper().StartsWith("T") orderby p select p</code>
        <ul>
            @foreach (string person in selectedPeople2)
            {
                <li>@person</li>
            }
        </ul>
    }

    <h3>With LINQ Extension Methods</h3>
    @{
        var selectedPeople3 = people.Where(p => p.ToUpper().StartsWith("T")).OrderBy(p => p);
        @:Code: <code>people.Where(p => p.ToUpper().StartsWith("T")).OrderBy(p => p)</code>
        <ul>
            @foreach (string person in selectedPeople3)
            {
                <li>@person</li>
            }
        </ul>
    }
</div>
