﻿@page

@functions{
    record class Person(string Name);
    record class Student(string Name) : Person(Name);
    record class Employee(string Name) : Person(Name);
}
<h5>OfType</h5>
@{
    List<Person> people = new List<Person>
{
        new Student("Tom"),
        new Person("Sam"),
        new Student("Bob"),
        new Employee("Mike")
    };

    var students = people.OfType<Student>();
    @:Code: <code>people.OfType&lt;Student&gt;()</code>
    <ul>
        @foreach (var student in students)
        {
            <li>@student.Name</li>
        }
    </ul>
}