﻿@page


@functions{
    record class Person(string Name, int Age, List<string> Languages);
}
@{
    string[] names = { "Tom", "Alice", "Bob", "Sam", "Tim", "Tomas", "Bill" };
}
<h2>******WHERE*****</h2>
@{
    int[] numbers = { 1, 2, 3, 4, 10, 34, 55, 66, 77, 88 };
    var selectedNumbers1 = numbers.Where(n => n % 2 == 0 && n > 10);

    <div class="container mt-4">
        <h3 class="mb-3">Selected Even Numbers Greater Than 10</h3>
        <i>Code: <code>numbers.Where(n => n % 2 == 0 && n > 10)</code></i>
        <ul class="list-group">
            @foreach (var number in selectedNumbers1)
            {
                <li class="list-group-item">@number</li>
            }
        </ul>
    </div>
}



@{
    var people = new List<Person>{
            new Person("Tom", 23, new List<string> {"english", "german"}),
            new Person("Bob", 27, new List<string> {"english", "french" }),
            new Person("Sam", 29, new List<string>  { "english", "spanish" }),
            new Person("Alice", 24, new List<string> {"spanish", "german" })
        };
}

@{
    var englishSpeakersUnder28 =
        from person in people from lang in person.Languages where person.Age < 28 && lang == "english" select person;

    <div class="container mt-4">
        <h3 class="mb-3">People Under 28 Speaking English With Query Syntax</h3>
        <code>
            <pre>
                from person in people 
                from lang in person.Languages 
                where person.Age&lt;28 
                && lang == "english" 
                select person;
            </pre>
        </code>
        <ul class="list-group">
            @foreach (var person in englishSpeakersUnder28)
            {
                <li class="list-group-item">@person.Name</li>
            }
        </ul>
    </div>
}



@{
    var englishSpeakersUnder28Alt =
        people.SelectMany(p => p.Languages, (p, l) => new { Person = p, Language = l })
            .Where(pl => pl.Language == "english" && pl.Person.Age < 28)
            .Select(pl => pl.Person);

    <div class="container mt-4">
        <h3 class="mb-3">People Under 28 Speaking English With Method Syntax</h3>
        <code><pre>
                people
                    .SelectMany(p => p.Languages, (p, l) => new { Person = p, Language = l })
                    .Where(pl => pl.Language == "english" && pl.Person.Age < 28)
                    .Select(pl => pl.Person);
        </pre></code>
        <ul class="list-group">
            @foreach (var person in englishSpeakersUnder28Alt)
            {
                <li class="list-group-item">@person.Name</li>
            }
        </ul>
    </div>
}