﻿@page
@{
    List<Category> categories = new()
                                {
                                    new(Name: "Beverages", ID: 001),
                                    new("Condiments", 002),
                                    new("Vegetables", 003)
                                };

    List<Product> products = new()
                                {
                                    new(Name: "Tea", CategoryID: 001),
                                    new("Mustard", 002),
                                    new("Pickles", 002),
                                    new("Carrots", 003),
                                    new("Bok Choy", 003),
                                    new("Peaches", 005),
                                    new("Melons", 005),
                                    new("Ice Cream", 007),
                                    new("Mackerel", 012)
                                };

    var crossJoinQuery =
        from c in categories
        from p in products
        select new
        {
            c.ID,
            p.Name
        };

    <h3>Cross Join Query:</h3>
    foreach (var v in crossJoinQuery)
    {
        <text>@v.ID @v.Name</text><br />
    }
}
@functions {
    public record Category(string Name, int ID);
    public record Product(string Name, int CategoryID);
}