﻿@page
@{
    List<Category> categories = new()
                                {
                                    new(Name: "Beverages", ID: 001),
                                    new("Condiments", 002),
                                    new("Vegetables", 003)
                                };

    List<Product> products = new()
                                {
                                    new(Name: "Tea", CategoryID: 001),
                                    new("Mustard", 002),
                                    new("Pickles", 002),
                                    new("Carrots", 003),
                                    new("Bok Choy", 003),
                                    new("Peaches", 005),
                                    new("Melons", 005),
                                    new("Ice Cream", 007),
                                    new("Mackerel", 012)
                                };

    var nonEquijoinQuery =
    from p in products
    let catIds = from c in categories select c.ID
    where catIds.Contains(p.CategoryID) == true
    select new
    {
        Product = p.Name,
        p.CategoryID
    };

    <h3>Non-equijoin query:</h3>
    foreach (var v in nonEquijoinQuery)
    {
        <text>@v.CategoryID @v.Product</text>
        <br />
    }
}