﻿<ul>
    <li>AsEnumerable</li>
    <li>Cast</li>
    <li>Concat</li>
    <li>DefaultIfEmpty</li>
    <li>Distinct</li>
    <li>Except</li>
    <li>GroupBy</li>
    <li>GroupJoin</li>
    <li>Intersect</li>
    <li>Join</li>
    <li>OfType</li>
    <li>OrderBy</li>
    <li>OrderByDescending</li>
    <li>Range</li>
    <li>Repeat</li>
    <li>Reverse</li>
    <li>Select</li>
    <li>SelectMany</li>
    <li>Skip</li>
    <li>SkipWhile</li>
    <li>Take</li>
    <li>TakeWhile</li>
    <li>ThenBy</li>
    <li>ThenByDescending</li>
    <li>Union</li>
    <li>Where</li>
</ul>
