﻿<ul>
    <li>Aggregate</li>
    <li>All</li>
    <li>Any</li>
    <li>Average</li>
    <li>Contains</li>
    <li>Count</li>
    <li>ElementAt</li>
    <li>ElementAtOrDefault</li>
    <li>Empty</li>
    <li>First</li>
    <li>FirstOrDefault</li>
    <li>Last</li>
    <li>LastOrDefault</li>
    <li>LongCount</li>
    <li>Max</li>
    <li>Min</li>
    <li>SequenceEqual</li>
    <li>Single</li>
    <li>SingleOrDefault</li>
    <li>Sum</li>
    <li>ToArray</li>
    <li>ToDictionary</li>
    <li>ToList</li>
    <li>ToLookup</li>
</ul>
