﻿@page

@{
    string[] people = { "Tom", "Sam", "Bob" };
}

<h5>Deferred</h5>
@{
    var selectedPeople = people.Where(s => s.Length == 3).OrderBy(s => s);
    @:Code: <code>people.Where(s => s.Length == 3).OrderBy(s => s)</code>
    Array.Resize(ref people, people.Length + 1);
    people[people.Length - 1] = "Ben";
    <ul>
        @foreach (var person in selectedPeople)
        {
            <li>@person</li>
        }
    </ul>
    <!--When you work with in-memory collections like arrays (string[]), LINQ queries are executed immediately because LINQ to Objects is used. When you use LINQ queries against database entities (IQueryable<T>), such as those returned by Entity Framework, the query is not executed immediately.-->
}
<h5>Immediate</h5>
@{
    var count = people.Where(s => s.Length == 3).OrderBy(s => s).Count();
    @:Code: <code>people.Where(s => s.Length == 3).OrderBy(s => s).Count()</code>
    <p>@count</p>
    Array.Resize(ref people, people.Length + 1);
    people[people.Length - 1] = "Ken";

    <p>@count<i>-count not changed</i></p>
}
<div class="row">
    <div class="col"><h4>_Deferred</h4><partial name="_Deferred" /></div>
    <div class="col"><h4>_Immediate</h4><partial name="_Immediate" /></div>
</div>