﻿@page

@functions{
    record class Person(string Name, int Age, List<string> Languages);
}
@{
    var people = new List<Person> {
        new Person("Tom", 23, new List<string> {"english", "german"}),
        new Person("Bob", 27, new List<string> {"english", "french" }),
        new Person("Sam", 29, new List<string>  { "english", "spanish" }),
        new Person("Alice", 24, new List<string> {"spanish", "german" })
    };
}
<h5>Using LINQ Query Syntax</h5>
@{
    var selectedPeople = from person in people
                         from lang in person.Languages
                         where person.Age < 28
                         where lang == "english"
                         select person;
    <ul>
        @foreach (var person in selectedPeople)
        {
            <li>@($"{person.Name} - {person.Age}")</li>
        }
    </ul>
}
<h5>Using LINQ Method Syntax</h5>
@{
    var selectedPeople2 = people.SelectMany(u => u.Languages, (u, l) => new { Person = u, Lang = l })
                             .Where(u => u.Lang == "english" && u.Person.Age < 28)
                             .Select(u => u.Person);
    <ul>
        @foreach (var person in selectedPeople2)
        {
            <li>@($"{person.Name} - {person.Age}")</li>
        }
    </ul>
}
<img src="/select/SelectMany.png" />