﻿@page

@functions{
    record class Person(string Name, int Age);
}
@{
    var people = new List<Person> {
        new Person("Tom", 23),
        new Person("Bob", 27),
        new Person("Sam", 29),
        new Person("Alice", 24)
    };
}
@{
    IEnumerable<string> names = from p in people select p.Name;
    <h1>People Names</h1>
    <ul>
        @foreach (var name in names)
        {
            <li>@name</li>
        }
    </ul>
}
@{

}
<h1>People Names</h1>
<ul>
    @foreach (var name in names)
    {
        <li>@name</li>
    }
</ul>