﻿@page

@functions{
    record class Person(string Name, int Age);
}
@{
    var people = new List<Person>{
        new Person("Tom", 23),
        new Person("Bob", 27)
    };

    var personnel = from p in people
                    let name = $"Mr. {p.Name}"
                    let year = DateTime.Now.Year - p.Age
                    select new
                    {
                        Name = name,
                        Year = year
                    };
}

<h5>Select With Let</h5>
<ul>
    @foreach (var p in personnel)
    {
        <li>@($"{p.Name} - {p.Year}")</li>
    }
</ul>
