﻿@page

@functions{
    record class Person(string Name, int Age);
}
@{
    var people2 = new List<Person> {
        new Person("Tom", 23),
        new Person("Bob", 27),
        new Person("Sam", 29),
        new Person("Alice", 24)
    };

    var names2 = people2.Select(u => u.Name);
}
<h5>People Names</h5>
<ul>
    @foreach (var name in names2)
    {
        <li>@name</li>
    }
</ul>
