﻿@page

@functions{
    record class Company(string Name, List<Person> Staff);
    record class Person(string Name);
}

@{
    var companies = new List<Company>{
        new Company("Microsoft", new List<Person> { new Person("Tom"), new Person("Bob") }),
        new Company("Google", new List<Person> { new Person("Sam"), new Person("Mike") }),
    };

    var employees = companies.SelectMany(c => c.Staff, (c, emp) => new { Name = emp.Name, Company = c.Name });
}
<h5>Select Many</h5>
Code: <code>.SelectMany(c => c.Staff, (c, emp) => new { Name = emp.Name, Company = c.Name })</code>
<ul>
    @foreach (var emp in employees)
    {
        <li>@($"{emp.Name} - {emp.Company}")</li>
    }
</ul>
<img src="/select/SelectMany.png" />