﻿@page

@functions{
    record class Person(string Name, int Age);
}
@{
    var people = new List<Person> { new Person("Tom", 23), new Person("Bob", 27) };
}
<h5>Using LINQ Query Syntax</h5>
@{
    var personel = from p in people
                   select new
                   {
                       FirstName = p.Name,
                       Year = DateTime.Now.Year - p.Age
                   };
    <ul>
        @foreach (var p in personel)
        {
            <li>@($"{p.FirstName} - {p.Year}")</li>
        }
    </ul>
}

<h5>Using LINQ Method Syntax</h5>
@{
    var personel2 = people.Select(p => new
    {
        FirstName = p.Name,
        Year = DateTime.Now.Year - p.Age
    });
    <ul>
        @foreach (var p in personel2)
        {
            <li>@($"{p.FirstName} - {p.Year}")</li>
        }
    </ul>
}