﻿@page


@functions{
    record class Person(string Name, string Company);
    record class Company(string Title, string Language);
}

@{
    Person[] people =
    {
        new Person("Tom", "Microsoft"), new Person("Sam", "Google"),
        new Person("Bob", "Oracle"), new Person("Mike", "Microsoft"),
    };
    Company[] companies =
    {
        new Company("Microsoft", "C#"),
        new Company("Google", "Go"),
        new Company("Oracle", "Java")
    };
    var personnel = companies.GroupJoin(
        people, //inner
        c => c.Title, //outerKeySelector
        p => p.Company, //innerKeySelector
        (c, employees) => new
        {
            Title = c.Title,
            Employees = employees
        });
}
Code: <code>
    companies.GroupJoin(people, c => c.Title, p => p.Company, (c, employees) => new { Title = c.Title, Employees = employees });
</code>
<br>
<pre>
<text>
.GroupJoin<Company, Person, string, 'a>(
    IEnumerable<Person> inner, outerKeySelector, innerKeySelector, resultSelector
)
</text>
</pre>
<div class="container mt-4">
    @foreach (var company in personnel)
    {
        <div class="mb-4">
            <h5>@company.Title</h5>
            <ul class="list-group">
                @foreach (var emp in company.Employees)
                {
                    <li class="list-group-item">@emp.Name</li>
                }
            </ul>
        </div>
    }
</div>
<img src="/Join/GroupJoin.png" />