﻿@page

@functions{
    record class Person(string Name, string Company);
    record class Company(string Title, string Language);
}
@{
    Person[] people =
    {
        new Person("Tom", "Microsoft"), new Person("Sam", "Google"),
        new Person("Bob", "Oracle"), new Person("Mike", "Microsoft"),
    };
    Company[] companies =
        {
        new Company("Microsoft", "C#"),
        new Company("Google", "Go"),
        new Company("Oracle", "Java")
    };

    var personnel = from c in companies
                    join p in people on c.Title equals p.Company into g
                    select new
                    {
                        Title = c.Title,
                        Employees = g
                    };

    /*SELECT  c.Title AS Title, p.Name AS EmployeeName, p.Company AS EmployeeCompany
        FROM  companies c
        LEFT JOIN  people p ON c.Title = p.Company;*/
}
<h4>Join Into</h4>
<div>
    <div style="margin-bottom: 20px;"><h5>Personnel by Company</h5></div>
    @foreach (var company in personnel)
    {
        <div>
            <h6>@company.Title</h6>
            <div>
                <ul class="list-group mb-4">
                    @foreach (var employee in company.Employees)
                    {
                        <li class="list-group-item">@employee.Name</li>
                    }
                </ul>
            </div>
        </div>
    }
</div>
@{
    var personnel2 = from p in people
                     join c in companies on p.Company equals c.Title into grouped
                     from gc in grouped
                     group p by gc.Title into g
                     select new
                     {
                         Company = g.Key,
                         Employees = g.ToList()
                     };
    /*
    SELECT  c.Title AS Company, p.Name AS EmployeeName, p.Company AS EmployeeCompany
    FROM  people p
    JOIN  companies c ON p.Company = c.Title
    GROUP BY  c.Title; */
}