﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Razor Pages</title>
    <link href="~/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>
@{
    bool showStudentList = false;
    if (ViewBag.ShowStudentList != null && ViewBag.ShowStudentList == true)
        showStudentList = ViewBag.ShowStudentList;
}
<body>
    <style>
        dd {
            margin-left: 2em;
        }

        .span-pre {
            font-size: 16px
        }
    </style>
    <div style="position:sticky;top:0;background-color:black;z-index:99">
        <div id="categories">
            <div class="btn-group" name="examples1">
                <button class="btn btn-secondary" type="button">
                    examples1
                </button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary" href="/examples1/simple_list_query">
                        simple_list_query
                    </a>
                    <a class="btn btn-secondary" href="/examples1/return_query_method">
                        return_query_method
                    </a>
                    <a class="btn btn-secondary" href="/examples1/inmemory_query_results">
                        inmemory_query_results
                    </a>
                    <a class="btn btn-secondary" href="/examples1/group_query_results">
                        group_query_results
                    </a>
                    <a class="btn btn-secondary" href="/examples1/nested_group">
                        nested_group
                    </a>
                </div>
            </div>
            <div class="btn-group" name="examples2">
                <button class="btn btn-secondary" type="button">
                    examples2
                </button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary" href="/examples2/subquery_on_grouping">
                        subquery_on_grouping
                    </a>
                    <a class="btn btn-secondary" href="/examples2/dynamic_predicate_filters">
                        dynamic_predicate_filters
                    </a>
                    <a class="btn btn-secondary" href="/examples2/joins/simple_key_join">
                        simple_key_join
                    </a>
                    <a class="btn btn-secondary" href="/examples2/joins/multiple_join">
                        multiple_join
                    </a>
                    <a class="btn btn-secondary" href="/examples2/joins/grouped_inner_join">
                        grouped_inner_join
                    </a>
                </div>
            </div>
            <div class="btn-group" name="examples3">
                <button class="btn btn-secondary" type="button">
                    examples3
                </button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary" href="/examples3/group_join">
                        group_join
                    </a>
                    <a class="btn btn-secondary" href="/examples3/left_outer_join">
                        left_outer_join
                    </a>
                    <a class="btn btn-secondary" href="/examples3/order_join_results">
                        order_join_results
                    </a>  
                    <a class="btn btn-secondary" href="/examples3/custom_join/cross_join">
                        cross_join
                    </a>
                    <a class="btn btn-secondary" href="/examples3/custom_join/non_equijoin">
                        non_equijoin
                    </a>                    
                </div>
            </div>
        </div>
    </div>
    <div class="row m-1 p-1" style="position:relative">
        <div class="col-8">
            @RenderBody()
        </div>
        <div class="col-4" style="position:relative">
            <div style="position:fixed">
                @if (showStudentList)
                {
                    <partial name="_StudentList" />
                }
            </div>
        </div>
        <div id="_SiteScripts" class="hidden">
            <script src="~/jquery/jquery.min.js"></script>
            <script src="~/bootstrap/popper.min.js"></script>
            <script src="~/bootstrap/bootstrap.min.js"></script>
        </div>
        @await RenderSectionAsync("Scripts", required: false)
    </div>


</body>

</html>