﻿@{
    IEnumerable<Student> students =
               from student in Student.students
               select student;
}
<br />
<div>
    <table class="table" width="100%">
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>ID</th>
            <th>Year</th>
            <th>ExamScores</th>
        </tr>
        @foreach (var item in students)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.ID</td>
                <td>@item.Year</td>
                <td>@string.Join(",",item.ExamScores)</td>
            </tr>
        }
    </table>
</div>
