﻿@page


@functions{
    class CustomStringComparer : IComparer<String>
    {
        public int Compare(string? x, string? y)
        {
            int xLength = x?.Length ?? 0; // если x равно null, то длина 0
            int yLength = y?.Length ?? 0;
            return xLength - yLength;
        }
    }
}
@{
    string[] people = new[] { "Christina","Kate", "Tom", "Sam", "Mike", "Alice" };
    var sortedPeople = people.OrderBy(p => p, new CustomStringComparer());
    <h1>Sorted People</h1>
    <ul>
        @foreach (var person in sortedPeople)
        {
            <li>@person</li>
        }
    </ul>
}