﻿@page

@functions{ record class Person(string Name, int Age); }

@{
    var people = new List<Person> {
        new Person("Tom", 37),
        new Person("Sam", 28),
        new Person("Jack", 22),
        new Person("Bob", 41),
    };
}
<h4 class="mb-4">Sorted People</h4>

@{
    var sortedPeople1 = from p in people orderby p.Name, p.Age select p;
    @:Code: <code>from p in people orderby p.Name, p.Age select p</code>
    <h5>Sorted by Name and Age (Ascending)</h5>
    <div class="row mb-2">
        @foreach (var p in sortedPeople1)
        {
            <p class="col">@($"{p.Name} - {p.Age}")</p>
        }
    </div>
}

@{
    var sortedPeople2 = from p in people orderby p.Name ascending, p.Age descending select p;
    @:Code: <code>from p in people orderby p.Name ascending, p.Age descending select p</code>
    <h5>Sorted by Name and Age (Descending Age)</h5>
    <div class="row mb-2">
        @foreach (var p in sortedPeople2)
        {
            <p class="col">@($"{p.Name} - {p.Age}")</p>
        }
    </div>
}
<h5>Sorted by Name and Age (Method Syntax)</h5>
@{
    var sortedPeople3 = people.OrderBy(p => p.Name).ThenByDescending(p => p.Age);
    @:Code: <code>people.OrderBy(p => p.Name).ThenByDescending(p => p.Age)</code>
    <div class="row mb-2">
        @foreach (var p in sortedPeople3)
        {
            <p class="col">@($"{p.Name} - {p.Age}")</p>
        }
    </div>
}
