﻿@page

@{
    int[] numbers = { 3, 12, 4, 10 };
    var orderedNumbers = numbers.OrderByDescending(n => n).ToArray();

    <h1>Ordered Numbers</h1>
    <ul>
        @foreach (var number in orderedNumbers)
        {
            <li>@number</li>
        }
    </ul>
}

