﻿@page

@functions{
    record class Course(string Title);
    record class Student(string Name);
}

@{
    var courses = new List<Course> { new Course("C#"), new Course("Java") };
    var students = new List<Student> { new Student("Tom"), new Student("Bob") };
    var enrollments = courses.Zip(students);
}
<table class="table">
    <thead>
        <tr>
            <th>Course</th>
            <th>Student</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var enrollment in enrollments)
        {
            <tr>
                <td>@enrollment.First</td>
                <td>@enrollment.Second</td>
            </tr>
        }
    </tbody>
</table>