﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Razor Pages</title>
    <link href="~/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <style>
        .max-button {
            width: 200px
        }

        .list-group-item {
            padding: 0
        }
    </style>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            <div class="btn-group" name="examples1">
                <button class="btn btn-secondary btn-lg max-button" type="button">
                    Examples01
                </button>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary d-block" href="/Examples01/AggregateOperations">
                        AggregateOperations
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples01/ConditionalSequence">
                        ConditionalSequence
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples01/ef_exec/DeferImmediateExec">
                        DeferImmediateExec
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples01/OfTypeExtension">
                        OfTypeExtension
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples01/LinqBasics">
                        LinqBasics
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples01/WhereMethod">
                        WhereMethod
                    </a>
                </div>
            </div>
            <div class="btn-group" id="examples2">
                <button class="btn btn-secondary btn-lg max-button" type="button">
                    Examples02
                </button>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary d-block" href="/Examples02/GroupBy/BasicGroupBy">
                        BasicGroupBy
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples02/GroupBy/NestedGroupBy">
                        NestedGroupBy
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples02/Join/BasicJoin">
                        BasicJoin
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples02/Join/JoinInto">
                        JoinInto
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples02/Join/GroupJoinExtension">
                        GroupJoinExtension
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples02/MethodZip">
                        MethodZip
                    </a>
                </div>
            </div>
            <div class="btn-group" id="examples3">
                <button class="btn btn-secondary btn-lg max-button" type="button">
                    Examples03
                </button>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary d-block" href="/Examples03/OrderBy/OrderByBasic">
                        OrderByBasic
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples03/OrderBy/IComparer">
                        IComparer
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples03/OrderBy/MultiFieldOrder">
                        MultiFieldOrder
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples03/Select/SelectBasic">
                        SelectBasic
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples03/Select/SelectExtension">
                        SelectExtension
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples03/Select/SelectAnonymous">
                        SelectAnonymous
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples03/Select/SelectWithLet">
                        SelectWithLet
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples03/Select/SelectMany">
                        SelectMany
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples03/Select/SelectManyCompare">
                        SelectManyCompare
                    </a>
                </div>
            </div>
            <div class="btn-group" id="examples4">
                <button class="btn btn-secondary btn-lg max-button" type="button">
                    Examples04
                </button>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary d-block" href="/Examples04/QueryDelegates">
                        QueryDelegates
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples04/SkipTake/SkipTakeBasics">
                        SkipBasics
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples04/SkipTake/Skip">
                        Skip
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples04/SkipTake/Take">
                        Take
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples04/SetOperations">
                        SetOperations
                    </a>
                </div>
            </div>
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
        <div id="_SiteScripts" class="hidden">
            <script src="~/jquery/jquery.min.js"></script>
            <script src="~/bootstrap/popper.min.js"></script>
            <script src="~/bootstrap/bootstrap.min.js"></script>
        </div>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>