@page
@{
    List<Employee> employees = new()
                                {
                                    new(FirstName: "Terry", LastName: "Adams", EmployeeID: 522459),
                                    new("Charlotte", "Weiss", 204467),
                                    new("Magnus", "Hedland", 866200),
                                    new("Vernette", "Price", 437139)
                                };

    List<Student> students = new()
                                {
                                    new(FirstName: "Vernette", LastName: "Price", StudentID: 9562),
                                    new("Terry", "Earls", 9870),
                                    new("Terry", "Adams", 9913)
                                };

    var query =
        from employee in employees
        join student in students on new
        {
            employee.FirstName,
            employee.LastName
        } equals new
        {
            student.FirstName,
            student.LastName
        }
        select employee.FirstName + " " + employee.LastName;

    <h3>The following people are both employees and students:</h3>
    foreach (string name in query)
    {
        @name
        <br>
    }
}