﻿@page
@{
    Person magnus = new(FirstName: "Magnus", LastName: "Hedlund");
    Person terry = new("Terry", "Adams");
    Person charlotte = new("Charlotte", "Weiss");
    Person arlene = new("Arlene", "Huff");

    List<Person> people = new() { magnus, terry, charlotte, arlene };

    List<Pet> pets = new()
                        {
                            new(Name: "Barley", Owner: terry),
                            new("Boots", terry),
                            new("Whiskers", charlotte),
                            new("Blue Moon", terry),
                            new("Daisy", magnus),
                        };

    var query1 =
        from person in people
        join pet in pets on person equals pet.Owner into gj
        from subpet in gj
        select new
        {
            OwnerName = person.FirstName,
            PetName = subpet.Name
        };

    <h3>Inner join using GroupJoin():</h3>
    foreach (var v in query1)
    {
        <text>@v.OwnerName - @v.PetName</text>
        <br />
    }

    var query2 =
        from person in people
        join pet in pets on person equals pet.Owner
        select new
        {
            OwnerName = person.FirstName,
            PetName = pet.Name
        };

    <br />
    <h3>The equivalent operation using Join():</h3>
    foreach (var v in query2)
    {
        <text>@v.OwnerName - @v.PetName</text>
        <br />
    }
}