﻿@page
@using WebPageQueries.ViewModels
@{
    PetOwner[] petOwners =
    {
        new PetOwner { Name="Higa, Sidney", Pets = new List<string>{ "Scruffy", "Sam" } },
        new PetOwner { Name="Ashkenazi, Ronen", Pets = new List<string>{ "Walker", "Sugar" } },
        new PetOwner { Name="Price, Vernette", Pets = new List<string>{ "Scratches", "Diesel" } }
    };

   
    IEnumerable<string> selectMany = petOwners.SelectMany(petOwner => petOwner.Pets);

    <p>Using SelectMany():</p>
    <ul>
        @foreach (string pet in selectMany)
        {
            <li>@pet</li>
        }
    </ul>

    IEnumerable<List<String>> justSelect = petOwners.Select(petOwner => petOwner.Pets);

    <p>Using Select():</p>
    <ul>
        @foreach (List<String> petList in justSelect)
        {
            foreach (string pet in petList)
            {
                <li>@pet</li>
            }
        }
    </ul>
}
