﻿@page
@inject ApplicationContext db

@{
    // Query users and project into anonymous type
    var users = db.Users.Select(p => new { Name = p.Name, Age = p.Age, Company = p.Company!.Name });

    <h5>Using anonymous type:</h5>
    <div>Code: <code>db.Users.Select(p => new { Name = p.Name, Age = p.Age, Company = p.Company!.Name })</code></div>
    <div>
        @foreach (var user in users)
        {
            <span>@($"{user.Name} ({user.Age}) - {user.Company}")</span>@:,&nbsp;
        }
    </div>

    // Query users and project into UserModel
    var users2 = db.Users.Select(p => new UserModel { Name = p.Name, Age = p.Age, Company = p.Company!.Name });

    <br />
    <h5>Using UserModel:</h5>
    <div>Code: <code>db.Users.Select(p => new UserModel { Name = p.Name, Age = p.Age, Company = p.Company!.Name })</code></div>
    <div>
        @foreach (UserModel user in users2)
        {
            <span>@($"{user.Name} ({user.Age}) - {user.Company}")</span>
            @:,&nbsp;
        }
    </div>

    // Order users by name
    var users3 = db.Users.OrderBy(p => p.Name);

    <br />
    <h5>Ordered by name:</h5>
    <div>Code: <code>db.Users.OrderBy(p => p.Name)</code></div>
    <div>
        @foreach (var user in users3)
        {
            <span>@($"{user.Id}.{user.Name} ({user.Age})")</span>
            @:,&nbsp;
        }
    </div>

    // Query users with LINQ query syntax and order by name
    var users4 = from u in db.Users orderby u.Name select u;

    <br />
    <h5>Ordered by name using LINQ query syntax:</h5>
    <div>Code: <code>from u in db.Users orderby u.Name select u</code></div>
    <div>
        @foreach (User user in users4)
        {
            <span>@($"{user.Id}.{user.Name} ({user.Age})")</span>
            @:,&nbsp;
        }
    </div>

    // Order users by age then by company name
    var users5 = db.Users.OrderBy(u => u.Age).ThenBy(u => u.Company!.Name);

    <br />
    <h5>Ordered by age then company name:</h5>
    <div>Code: <code>db.Users.OrderBy(u => u.Age).ThenBy(u => u.Company!.Name)</code></div>
    <div>
        @foreach (var user in users5)
        {
            <span>@($"{user.Id}.{user.Name} ({user.Age})")</span>
            @:,&nbsp;
        }
    </div>
}
@{
    List<Company> CompanyWithUsers = db.Companies.Include(x => x.Users).Include(x => x.Country).ToList();
    <partial name="_MainTablePartial" model="@CompanyWithUsers" />
}

