﻿@page
@inject ApplicationContext db

<h2>UNION</h2>
@{
    var users = db.Users.Where(u => u.Age < 30).Union(db.Users.Where(u => u.Name!.Contains("Tom")));

    <div><i>Rendering users where age is less than 30 or name contains "Tom"</i></div>
    @:Code: <code>db.Users.Where(u => u.Age < 30).Union(db.Users.Where(u => u.Name!.Contains("Tom")))</code>
    <ul>
        @foreach (var user in users)
        {
            <li>@user.Name</li>
        }
    </ul>

    var result = db.Users.Select(p => new { Name = p.Name }).Union(db.Companies.Select(c => new { Name = c.Name }));

    <div><i>Rendering unique names from both users and companies</i></div>
    @:Code: <code>db.Users.Select(p => new { Name = p.Name }).Union(db.Companies.Select(c => new { Name = c.Name }))</code>
    <ul>
        @foreach (var user in result)
        {
            <li>@user.Name</li>
        }
    </ul>
}
<h2>INTERSECT</h2>
@{
    var usersIntersect = db.Users.Where(u => u.Age > 30).Intersect(db.Users.Where(u => u.Name!.Contains("Tom")));
    <div><i>Users Over 30 with Name containing "Tom"</i></div>
    @:Code: <code>db.Users.Where(u => u.Age > 30).Intersect(db.Users.Where(u => u.Name!.Contains("Tom")))</code>
    <ul>
        @foreach (var user in usersIntersect)
        {
            <li>@user.Name</li>
        }
    </ul>
}
<h2>EXCEPT</h2>
@{
    var selector1 = db.Users.Where(u => u.Age > 30);
    var selector2 = db.Users.Where(u => u.Name.Contains("Tom"));
    var usersExcept = selector1.Except(selector2).ToList();

    <div><i>Users Over 30 with Name not containing "Tom"</i></div>
    @:Code: <code>selector1.Except(selector2).ToList()</code>
    <ul>
        @foreach (var user in users)
        {
            <li>@user.Name</li>
        }
    </ul>
}
@{
    List<Company> CompanyWithUsers = db.Companies.Include(x => x.Users).Include(x => x.Country).ToList();
    <partial name="_MainTablePartial" model="@CompanyWithUsers" />
}