﻿@page
@using LinqWebSamples.Models;
@{
    IEnumerable<Group> groups = Group.GetGroups();
    Group group = new Group { GroupId = 5, Modules = new int[3] { 1, 2, 3 } };

    IEnumerable<Group> test1 = groups.Where(x => group.Modules.All(y => x.Modules.Any(z => z == y)));
    IEnumerable<Group> test2 = groups.Where(x => x.Modules.All(y => group.Modules.Any(z => z == y)));
}
Code: <code>groups.Where(x => group.Modules.All(y => x.Modules.Any(z => z == y)));</code>
<dl>
    @foreach (Group item in test1)
    {
        <dt>GroupID: @item.GroupId</dt>
        @foreach (int moduleId in item.Modules)
        {
            <dd>ModuleID: @moduleId</dd>
        }
    }
</dl>
<br />
Code: <code>groups.Where(x => x.Modules.All(y => group.Modules.Any(z => z == y)));</code>
<dl>
    @foreach (Group item in test2)
    {
        <dt>GroupID: @item.GroupId</dt>
        @foreach (int moduleId in item.Modules)
        {
            <dd>ModuleID: @moduleId</dd>
        }
    }
</dl>