@page

@{
    int[] ids = { 111, 114, 112 };

    var queryNames =
    from student in Student.students
    where ids.Contains(student.ID)
    select new
    {
        student.LastName,
        student.ID
    };

    foreach (var name in queryNames)
    {
        <text>@name.LastName: @name.ID</text>

        <br>
    }
    <br />
    // Change the ids.
    ids = new[] { 122, 117, 120, 115 };

    // The query will now return different results
    foreach (var name in queryNames)
    {
        <text>@name.LastName: @name.ID</text>

        <br>
    }
}
@functions {
    void FilterByYearType(bool oddYear)
    {
        IEnumerable<Student> studentQuery;
        if (oddYear)
        {
            studentQuery =
            from student in Student.students
            where student.Year == GradeLevel.FirstYear || student.Year == GradeLevel.ThirdYear
            select student;
        }
        else
        {
            studentQuery =
            from student in Student.students
            where student.Year == GradeLevel.SecondYear || student.Year == GradeLevel.FourthYear
            select student;
        }

        string descr = oddYear ? "odd" : "even";
        <h3><text>The following students are at an @descr year level:</text></h3>
        foreach (Student name in studentQuery)
        {
            <text>@name.LastName : @name.ID </text>

            <br>
        }
    }
}
@{
    FilterByYearType(true);
}
@{
    FilterByYearType(false);
}
@{
    ViewBag.ShowStudentList = true;
}