@page
<div class="row">
    <div class="col-4">
        <h3>Query syntax</h3>
        @{
            var queryGroupMax =
            from student in Student.students
            group student by student.Year into studentGroup
            orderby studentGroup.Key
            select new
            {
                Level = studentGroup.Key,
                HighestScore =
                    (from student2 in studentGroup select student2.ExamScores.Average()).Max()
            };

            int count = queryGroupMax.Count();
            <p>Number of groups = @count</p>
            <br>
            foreach (var item in queryGroupMax)
            {
                <p>@item.Level Highest Score=@item.HighestScore</p>
            }
        }
        <hr>
        <br><br><br><br><br><br>
        <h3>Method syntax</h3>
        @{
            var queryGroupMax2 =
            Student.students
            .GroupBy(student => student.Year)
            .Select(studentGroup => new
            {
                Level = studentGroup.Key,
                HighestScore = studentGroup.Select(student2 => student2.ExamScores.Average()).Max()
            });

            int count2 = queryGroupMax.Count();
            <p>Number of groups = @count2</p>
            <br>
            foreach (var item in queryGroupMax)
            {
                <p>
                    @item.Level Highest Score=@item.HighestScore
                </p>
            }
        }
    </div>
    <div class="col-8">
        <code>
            <pre>
            <span class="span-pre">
var queryGroupMax =
from student in Student.students
group student by student.Year into studentGroup
orderby studentGroup.Key
select new
{
    Level = studentGroup.Key,
    HighestScore =
    (
    from student2 in studentGroup
    select student2.ExamScores.Average()
    ).Max()
};
                </span>
            </pre>
        </code>
        <code>
            <pre>
            <span class="span-pre">
var queryGroupMax2 =
Student.students
.GroupBy(student => student.Year)
.Select(studentGroup => new
{
    Level = studentGroup.Key,
    HighestScore = 
        studentGroup
        .Select(student2 => student2.ExamScores.Average())
        .Max()
});
            </span>
            </pre>
        </code>
    </div>
</div>
@{
    ViewBag.ShowStudentList = true;
}
