﻿@page

@{ 
    string[] people = { "Tom", "Sam", "Bob", "Mike", "Kate" };
}
<h4>Skip Results</h4>
<br />
@{

    var result = people.Skip(2);

    <h5>Skip</h5>
    <ul>
        @foreach (var person in result)
        {
            <li>@person</li>
        }
    </ul>
}
<br />
@{
    var result2 = people.SkipLast(2);
    <h5>SkipLast</h5>
    <ul>
        @foreach (var person in result2)
        {
            <li>@person</li>
        }
    </ul>
}
<br />
@{
    var result3 = people.SkipWhile(p => p.Length == 3);
    <h5>SkipWhile</h5>
    <ul>
        @foreach (var person in result3)
        {
            <li>@person</li>
        }
    </ul>
}