﻿@page


@{
    string[] people = { "Tom", "Sam", "Mike", "Kate", "Bob", "Alice" };
    var result = people.Skip(3).Take(2);
}

<h5>Skip Basics</h5>
<ul>
    @foreach (var person in result)
    {
        <li>@person</li>
    }
</ul>
