﻿@page

@{
    string[] people = { "Tom", "Sam", "Mike", "Kate", "Bob" };
}

@{
    var result = people.Take(3);
    <h2>Take</h2>
    <ul>
        @foreach (var person in result)
        {
            <li>@person</li>
        }
    </ul>
}
@{
    var result2 = people.TakeLast(3);
    <h2>TakeLast</h2>
    <ul>
        @foreach (var person in result2)
        {
            <li>@person</li>
        }
    </ul>
}
@{
    var result3 = people.TakeWhile(p => p.Length == 3);
    <h2>TakeWhile</h2>
    <ul>
        @foreach (var person in result3)
        {
            <li>@person</li>
        }
    </ul>
}