﻿@page

@functions{
    record class Person(string Name, string Company);
}

@{
    Person[] people =
    {
        new Person("Tom", "Microsoft"), new Person("Sam", "Google"),
        new Person("Bob", "JetBrains"), new Person("Mike", "Microsoft"),
        new Person("Kate", "JetBrains"), new Person("Alice", "Microsoft"),
    };
}

<h5>Group By Query Syntax</h5>
@{
    IEnumerable<IGrouping<string, Person>> companies = from person in people group person by person.Company;
    @:Code: <code>from person in people group person by person.Company</code>
    <div class="row">
        @foreach (var company in companies)
        {
            <div class="col">
                <h6>@company.Key</h6>
                <ul>
                    @foreach (var person in company)
                    {
                        <li>@person.Name</li>
                    }
                </ul>
            </div>
        }
    </div>
}
<h5>Group By Count</h5>
@{
    var countCompany = from person in people
                       group person by person.Company into g
                       select new { Name = g.Key, Count = g.Count() };
    <text>Code:</text>
    <code>
        <pre>
            from person in people 
            group person by person.Company into g 
            select new { Name = g.Key, Count = g.Count() }
            </pre>
    </code>
    <h6 class="mb-3">Number of People in Each Company</h6>
    <ul class="list-group">
        @foreach (var item in countCompany)
        {
            <li class="list-group-item">@item.Name: @item.Count</li>
        }
    </ul>
    <br />
}
<h5>Group By Method Syntax</h5>
@{
    companies = people.GroupBy(p => p.Company);
    @:Code: <code>people.GroupBy(p => p.Company)</code>
    <div class="row">
        @foreach (var company in companies)
        {
            <div class="col">
                <h6>@company.Key</h6>
                <ul>
                    @foreach (var person in company)
                    {
                        <li>@person.Name</li>
                    }
                </ul>
            </div>
        }
    </div>
}