﻿@page

@functions{
    record class Person(string Name, string Company);
}
@{
    Person[] people =
    {
        new Person("Tom", "Microsoft"), new Person("Sam", "Google"),
        new Person("Bob", "JetBrains"), new Person("Mike", "Microsoft"),
        new Person("Kate", "JetBrains"), new Person("Alice", "Microsoft"),
    };
}
<h5>Group By Nested Query Syntax</h5>
@{
    var companies = from person in people
                    group person by person.Company into g
                    select new
                    {
                        Name = g.Key,
                        Count = g.Count(),
                        Employees = from p in g select p
                    };

    <code>
        Code:
        <pre style="margin-bottom: 0px;">
        from person in people
        group person by person.Company into g
        select new { Name = g.Key, Count = g.Count(), Employees = from p in g select p};
        </pre>
    </code>
    <div class="row mb-4">
        @foreach (var company in companies)
        {
            <div class="col">
                <h3>@company.Name : @company.Count</h3>
                <ul class="list-group">
                    @foreach (var employee in company.Employees)
                    {
                        <li class="list-group-item">@employee.Name</li>
                    }
                </ul>
            </div>
        }
    </div>
}

<h5>Group By Nested Method Syntax</h5>
@{
    var companiesExtension = people
        .GroupBy(p => p.Company)
        .Select(g => new
        {
            Name = g.Key,
            Count = g.Count(),
            Employees = g.Select(p => p)
        });
    <code>
        Code:
        <pre style="margin-bottom: 0px;">
            people.GroupBy(p => p.Company).Select(g => new
            { Name = g.Key, Count = g.Count(), Employees = g.Select(p => p) });
        </pre>
    </code>
    <div class="row">
        @foreach (var company in companiesExtension)
        {
            <div class="col">
                <h3>@company.Name : @company.Count</h3>
                <ul class="list-group">
                    @foreach (var employee in company.Employees)
                    {
                        <li class="list-group-item">@employee.Name</li>
                    }
                </ul>
            </div>
        }
    </div>
}