﻿@page

<h4 class="mb-2">Query Delegates</h4>
<br>
<h5>Query in Where</h5>
@{
    string[] people = { "Tom", "Bob", "Kate", "Tim", "Mike", "Sam" };
    var result = people.Where(LengthIs3);
    @:Code: <code>people.Where(LengthIs3)</code>
    <div class="row">
        @foreach (var person in result)
        {
            <p class="col">@person</p>
        }
    </div>

    bool LengthIs3(string name) => name.Length == 3;
}
<br>
<h5>Query in Select</h5>
@{

    int[] numbers = { -2, -1, 0, 1, 2, 3, 4, 5, 6, 7 };
    var result2 = numbers.Where(i => i > 0).Select(Square);
    @:Code: <code>numbers.Where(i => i > 0).Select(Square)</code>
    <div class="row">
        @foreach (int i in result2)
        {

            <p class="col">@i</p>
        }
    </div>

    int Square(int n) => n * n;
}
