﻿@page

@{
    string[] soft = { "Microsoft", "Google", "Apple", "Microsoft", "Google" };
    var resultDistinct = soft.Distinct();
    <h5>Distinct Elements in a single collection</h5>
    <div class="row mb-2">
        @foreach (string s in resultDistinct)
        {
            <p class="col">@s</p>
        }
    </div>
}
@{
    string[] soft2 = { "Microsoft", "Google", "Apple" };
    string[] hard = { "Apple", "IBM", "Samsung" };
    var resultExcept = soft.Except(hard);
    <h5>Elements in Soft but not in Hard(Except, opposite of intersect)</h5>
    <div class="row mb-2">
        @foreach (string s in resultExcept)
        {
            <p class="col">@s</p>
        }
    </div>
}
@{
    string[] soft3 = { "Microsoft", "Google", "Apple" };
    string[] hard3 = { "Apple", "IBM", "Samsung" };
    var resultIntersect = soft3.Intersect(hard3);
    <h5>Common Elements with Intersect</h5>
    <div class="row mb-2">
        @foreach (string s in resultIntersect)
        {
            <p class="col">@s</p>
        }
    </div>
}
@{
    string[] soft4 = { "Microsoft", "Google", "Apple" };
    string[] hard4 = { "Apple", "IBM", "Samsung" };
    var resultConcat = soft4.Concat(hard4).Distinct();
    <h5>Combined Elements Concat Distinct</h5>
    <div class="row mb-2">
        @foreach (string s in resultConcat)
        {
            <p class="col">@s</p>
        }
    </div>
}
@{
    string[] soft5 = { "Microsoft", "Google", "Apple" };
    string[] hard5 = { "Apple", "IBM", "Samsung" };
    var resultUnion = soft.Union(hard5);
    <h5>Combined Elements with Union</h5>
    <div class="row mb-2">
        @foreach (string s in resultUnion)
        {
            <p class="col">@s</p>
        }
    </div>
}