﻿@page
@{
    Person magnus = new(FirstName: "Magnus", LastName: "Hedlund");
    Person terry = new("Terry", "Adams");
    Person charlotte = new("Charlotte", "Weiss");
    Person arlene = new("Arlene", "Huff");

    List<Person> people = new() { magnus, terry, charlotte, arlene };

    List<Pet> pets = new()
                        {
                            new(Name: "Barley", Owner: terry),
                            new("Boots", terry),
                            new("Whiskers", charlotte),
                            new("Blue Moon", terry),
                            new("Daisy", magnus),
                        };
    var query =
        from person in people
        join pet in pets on person equals pet.Owner into gj
        select new
        {
            OwnerName = person.FirstName,
            //Pets = gj
            Pets = gj.Select(x => x.Name)
        };
    <dl>
        @foreach (var v in query)
        {
            <dt> @v.OwnerName</dt>
            foreach (var pet in v.Pets)
            {
                //<dd>@pet.Name</dd>
                <dd>@pet</dd>
            }

        }
    </dl>
}
