﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Razor Pages</title>
    <link href="~/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <style>
        .max-button {
            width: 200px
        }
    </style>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            <div class="btn-group" name="examples1">
                <button class="btn btn-secondary btn-lg max-button" type="button">
                    Examples01
                </button>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary d-block" href="/Examples01/AnyAllCount">
                        AnyAllCount
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples01/IQueryable">
                        IQuerable
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples01/BasicJoinGrouping">
                        BasicJoinGrouping
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples01/LetKeyword">
                        LetKeyword
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples01/SelectionFilter">
                        SelectionFilter
                    </a>
                </div>
            </div>
            <div class="btn-group" id="examples2">
                <button class="btn btn-secondary btn-lg max-button" type="button">
                    Examples02
                </button>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary d-block" href="/Examples02/SelectMany">
                        SelectMany
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples02/SortSelect">
                        SortSelect
                    </a>
                    <a class="btn btn-secondary d-block" href="/Examples02/UnionIntersectExcept">
                        UnionIntersectExcept
                    </a>
                </div>
            </div>
            <div class="btn-group" id="examples3">
                <button class="btn btn-secondary btn-lg max-button" type="button">
                    Test
                </button>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary d-block" href="/Test">
                        Test
                    </a>
                </div>
            </div>
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
        <div id="_SiteScripts" class="hidden">
            <script src="~/jquery/jquery.min.js"></script>
            <script src="~/bootstrap/popper.min.js"></script>
            <script src="~/bootstrap/bootstrap.min.js"></script>
        </div>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>