﻿@model List<Company>
<br />
<table class="table">
    <thead>
        <tr>
            <th>Company ID</th>
            <th>Company Name</th>
            <th>Country Name</th>
            <th>User ID</th>
            <th>User Name</th>
            <th>User Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
            foreach (var user in company.Users)
            {
                <tr>
                    <td>@company.Id</td>
                    <td>@company.Name</td>
                    <td>@(company?.Country?.Name??"")</td>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Age</td>
                </tr>
            }
        }
    </tbody>
</table>
