﻿@page
@functions {
    List<StudentGroup> studentgroups = new List<StudentGroup>
    {
        new StudentGroup ("Group 1", new[] { "Math", "Science" }),
        new StudentGroup ("Group 2", new[] { "Math", "English" } ),
        new StudentGroup ("Group 3", new[] { "Biology", "English" } ),
        new StudentGroup ("Group 4", new[] { "Science", "Math" } ),
        new StudentGroup ("Group 5", new[] { "English", "Biology" } ) ,
        new StudentGroup ("Group 6", new[] { "English", "Math" } ),
    };

    record StudentGroup(string? Name, string[]? SubjectModules);
}
@{
    IEnumerable<IGrouping<string, StudentGroup>> groups = studentgroups.GroupBy(sg => string.Join(",", sg.SubjectModules.Order()));
}
<style>
    dd {
        margin-left: revert;
    }
</style>
<div>
    <dl>
        @foreach (var group in groups)
        {
            <dt>Subject Modules: @group.Key</dt>
            foreach (var studentgroup in group)
            {
                <dd>@studentgroup.Name</dd>
            }
        }
    </dl>
</div>

