﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Razor Pages</title>
    <link href="~/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <style>
        dd {
            margin-left: 2em;
        }

        .category {
            width: 10em;
        }
    </style>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            <div class="btn-group" name="grouping">
                <button class="btn btn-secondary btn-lg category" type="button">
                    grouping
                </button>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary" href="/grouping/GroupbyJoinedstring">
                        GroupbyJoinedstring
                    </a>
                </div>
            </div>
            <div class="btn-group" name="all_any">
                <button class="btn btn-secondary btn-lg category" type="button">
                    all_any
                </button>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary" href="/all_any/any_all_modules">
                        any_all_modules
                    </a>
                </div>
            </div>
            <div class="btn-group" name="default_if_empty">
                <button class="btn btn-secondary btn-lg category" type="button">
                    default_if_empty
                </button>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    <a class="btn btn-secondary" href="/default_if_empty/default_null">
                        default_null
                    </a>
                    <a class="btn btn-secondary" href="/default_if_empty/default_assign">
                        default_assign
                    </a>
                </div>
            </div>
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
        <div id="_SiteScripts" class="hidden">
            <script src="~/jquery/jquery.min.js"></script>
            <script src="~/bootstrap/popper.min.js"></script>
            <script src="~/bootstrap/bootstrap.min.js"></script>
        </div>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>

</html>