﻿@page
@inject ApplicationContext db
@{
    bool anyGoogle = db.Users.Any(u => u.Company!.Name == "Google");

    <div>
        Code: <code>db.Users.Any(u => u.Company!.Name == "Google")</code><br />
        <label for="chkbGoogle">Has Google</label>
        <input id="chkbGoogle" type="checkbox" @if (anyGoogle) { @Html.Raw("checked") } value="@anyGoogle" />
    </div>
}
<br />
@{
    bool allMicrosoft = db.Users.All(u => u.Company!.Name == "Microsoft");
    <div>
        Code: <code>db.Users.All(u => u.Company!.Name == "Microsoft")</code><br />
        <label for="chkbGoogle">All Microsoft</label>
        <input id="chkbGoogle" type="checkbox" @if (allMicrosoft) { @Html.Raw("checked") } value="@allMicrosoft" />
    </div>
}
<br />
@{
    int userCount = db.Users.Count();
    <div>User Count: @userCount</div>
}
<br />
@{
    int countsOfTom = db.Users.Count(u => u.Name!.Contains("Tom"));

    <div>
        Code: <code>db.Users.Count(u => u.Name!.Contains("Tom"))</code><br />
        Counts of Tom: @countsOfTom
    </div>
}
@{
    List<Company> CompanyWithUsers = db.Companies.Include(x => x.Users).Include(x => x.Country).ToList();
    <partial name="_MainTablePartial" model="@CompanyWithUsers" />
}
