﻿@page
@inject ApplicationContext db

@{
    //method syntax
    var users = db.Users.Join(db.Companies, u => u.CompanyId, c => c.Id,
                (u, c) => new { Name = u.Name, Company = c.Name, Age = u.Age });

    <ul>
        @foreach (var u in users)
        {
            <li>@($"{u.Name} ({u.Company}) - {u.Age}")</li>
        }
    </ul>
    //query syntax
    var users2 = from u in db.Users
                 join c in db.Companies on u.CompanyId equals c.Id
                 select new { Name = u.Name, Company = c.Name, Age = u.Age };
}
@{
    var usersQuery =
        from user in db.Users
        join company in db.Companies on user.CompanyId equals company.Id
        join country in db.Countries on company.CountryId equals country.Id
        select new
        {
            Name = user.Name,
            Company = company.Name,
            Age = user.Age,
            Country = country.Name
        };
    <h5>Multiple Join</h5>
    <dl>
        @foreach (var u in usersQuery)
        {
            <dt>@u.Name</dt>
            <dd>
                Company: @u.Company<br />
                Country: @u.Country<br />
                Age: @u.Age
            </dd>
        }
    </dl>
}
<br />
@{
    var groups = from u in db.Users
                 group u by u.Company!.Name into g
                 select new
                 {
                     g.Key,
                     Count = g.Count()
                 };
    <h5>Group</h5>
    <dl>
        @foreach (var group in groups)
        {
            <dt>@group.Key</dt>
            <dd>Count: @group.Count</dd>
        }
    </dl>
}