﻿@page
@inject ApplicationContext db

@{
    IQueryable<User> userIQuery = db.Users;
    var usersLessTen = userIQuery.Where(p => p.Id < 10).ToList();
    @:<span>Code: <code>var usersLessTen = userIQuery.Where(p => p.Id < 10).ToList();</code></span><br />
    foreach (var user in usersLessTen)
    {
        @user.Name
        <br />
    }
    <br />
    IQueryable<User> userIQuery2 = db.Users;
    userIQuery2 = userIQuery2.Where(p => p.Id < 10);
    userIQuery2 = userIQuery2.Where(p => p.Name == "Tom");
}

@{
    List<User> users2 = userIQuery2.ToList();
    for (int i = 0; i < users2.Count; i++)
    {
        <text>@users2[i].Name</text>
    }
}
Code:
<br />
<code>
    IQueryable<User>
        userIQuery2 = db.Users;<br />
        userIQuery2 = userIQuery2.Where(p => p.Id < 10);<br />
        userIQuery2 = userIQuery2.Where(p => p.Name == "Tom");<br />
        SELECT "u"."Id", "u"."Age", "u"."CompanyId", "u"."Name"
        FROM "Users" AS "u"
        WHERE "u"."Id" < 10 AND "u"."Name" = 'Tom'
</code>
@{
    List<Company> CompanyWithUsers = db.Companies.Include(x => x.Users).Include(x => x.Country).ToList();
    <partial name="_MainTablePartial" model="@CompanyWithUsers" />
}
