﻿@page
@inject ApplicationContext db
Code: <code>db.Users.Where(p => p.Company!.Name == "Google")</code>
@foreach (var user in db.Users.Where(p => p.Company!.Name == "Google"))
{

    <div>
        <text>@user.Name (@user.Age)</text>
    </div>
}
@foreach (var user in (from user in db.Users where user.Company!.Name == "Google" select user).ToList())
{
    @:<br />Code: <code>from user in db.Users where user.Company!.Name == "Google" select user</code>
    <div>
        <text>@user.Name (@user.Age)</text>
    </div>
}
@foreach (var user in (db.Users.Where(p => EF.Functions.Like(p.Name!, "%Tom%")).ToList()))
{
    @:<br />Code: <code>db.Users.Where(p => EF.Functions.Like(p.Name!, "%Tom%")).ToList()</code>
    <div>
        <text>@user.Name (@user.Age)</text>
    </div>
}
@{
    var user2 = db.Users.Find(3);
    if (user2 != null)
    {
        @:<br />Code: <code>db.Users.Find(3)</code>
        <div>@($"{user2.Name} ({user2.Age})")</div>
    }


    var user3 = db.Users.FirstOrDefault();
    if (user3 != null)
    {
        @:<br />Code: <code>db.Users.FirstOrDefault()</code>
        <div>@user3.Name</div>
    }

    var user4 = db.Users.FirstOrDefault(p => p.Id == 3);
    if (user4 != null)
    {
        @:<br />Code: <code>db.Users.FirstOrDefault(p => p.Id == 3)</code>
        <div>@user4.Name</div>
    }
}
@{
    List<Company> CompanyWithUsers = db.Companies.Include(x => x.Users).Include(x => x.Country).ToList();
    <partial name="_MainTablePartial" model="@CompanyWithUsers" />
}