﻿@page
@using LinqWebSamples.Models;
@functions{
    public void TestMethod()
    {
        List<Employee> employees = new List<Employee>();

        Employee emp5 = new Employee() { ID = 5, Name = "Hina", Salary = 10000, Gender = "Female" };

        IEnumerable<Employee> resultMS = employees.DefaultIfEmpty(emp5);

        IEnumerable<Employee> resultQS = (from employee in employees
                                          select employee).DefaultIfEmpty(emp5);
       
        foreach (Employee emp in resultMS)
        {
            <p>ID: @emp.ID, Name: @emp.Name, Gender: @emp.Gender, Salary: @emp.Salary</p>            
        }
        /*
         ID:5, Name:Hina, Gender:Female, Salary:10000
         */
    }
}
@{
    TestMethod();
}