@page
<h3>Group by single property example</h3>
@{
    IOrderedEnumerable<IGrouping<string, Student>> groupByLastNamesQuery =
    from student in Student.students
    group student by student.LastName into newGroup
    orderby newGroup.Key
    select newGroup;
    <dl>
        @foreach (IGrouping<string, Student> nameGroup in groupByLastNamesQuery)
        {
            <dt>Key: @nameGroup.Key</dt>
            foreach (var student in nameGroup)
            {
                <dd>@student.LastName @student.FirstName</dd>
            }
        }
    </dl>
}
<br>
<h3>Group by value example</h3>
@{
    var groupByFirstLetterQuery =
    from student in Student.students
    group student by student.LastName[0];

    <dl>
        @foreach (var studentGroup in groupByFirstLetterQuery)
        {
            <dt>Key: @studentGroup.Key</dt>
            foreach (var student in studentGroup)
            {
                <dd>@student.LastName @student.FirstName</dd>
            }
        }
    </dl>
}
<br>
<h3>Group by a range example</h3>
@{
    int GetPercentile(Student s)
    {
        double avg = s.ExamScores.Average();
        return avg > 0 ? (int)avg / 10 : 0;
    }

    var groupByPercentileQuery =
    from student in Student.students
    let percentile = GetPercentile(student)
    group new
    {
        student.FirstName,
        student.LastName
    } by percentile into percentGroup
    orderby percentGroup.Key
    select percentGroup;
    <dl>
        @foreach (var studentGroup in groupByPercentileQuery)
        {
            <dt>
                Key: @(studentGroup.Key * 10)
            </dt>
            @foreach (var item in studentGroup)
            {
                <dd>@item.LastName @item.FirstName</dd>
            }
        }
    </dl>
}
<br>
<h3>Group by comparison example</h3>
@{
    var groupByHighAverageQuery =
    from student in Student.students
    group new
    {
        student.FirstName,
        student.LastName
    } by student.ExamScores.Average() > 75 into studentGroup
    select studentGroup;
    <dl>
        @foreach (var studentGroup in groupByHighAverageQuery)
        {
            <dt>Key: @studentGroup.Key</dt>
            foreach (var student in studentGroup)
            {
                <dd>@student.FirstName @student.LastName</dd>
            }
        }
    </dl>
}
<br>
<h3>Group by anonymous type</h3>
@{
    var groupByCompoundKey =
    from student in Student.students
    group student by new
    {
        FirstLetter = student.LastName[0],
        IsScoreOver85 = student.ExamScores[0] > 85
    } into studentGroup
    orderby studentGroup.Key.FirstLetter
    select studentGroup;

    foreach (var scoreGroup in groupByCompoundKey)
    {
        string s = scoreGroup.Key.IsScoreOver85 == true ? "more than 85" : "less than 85";
        <dt>Name starts with @scoreGroup.Key.FirstLetter who scored @s</dt>
        foreach (var item in scoreGroup)
        {
            <dd>@item.FirstName @item.LastName</dd>
        }
    }
}
@{
    ViewBag.ShowStudentList = true;
}
