@page
@{
    List<int> numbers = new() { 1, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20 };

    IEnumerable<int> queryFactorsOfFour =
    from num in numbers
    where num % 4 == 0
    select num;

    // Store the results in a new variable
    // without executing a foreach loop.
    List<int> factorsofFourList = queryFactorsOfFour.ToList();

    // Read and write from the newly created list to demonstrate that it holds data.
    <p>@(factorsofFourList[2])</p>
    factorsofFourList[2] = 0;
    <p>@(factorsofFourList[2])</p>
}