@page
@{
    var nestedGroupsQuery =
    from student in Student.students
    group student by student.Year into newGroup1
    from newGroup2 in (
    from student in newGroup1
    group student by student.LastName
    )
    orderby newGroup1.Key
    group newGroup2 by newGroup1.Key;
    
    <h3>Create a nested group</h3>
    <dl>
        @foreach (var outerGroup in nestedGroupsQuery)
        {
            <dt>DataClass.Student Level = @outerGroup.Key</dt>
            foreach (var innerGroup in outerGroup)
            {
                <dd>
                    <dl>
                        <dt>
                            Names that begin with: @innerGroup.Key
                        </dt>
                        @foreach (var innerGroupElement in innerGroup)
                        {
                            <dd> @innerGroupElement.LastName @innerGroupElement.FirstName</dd>
                        }
                    </dl>
                </dd>
            }
        }
    </dl>
}
@{
    ViewBag.ShowStudentList = true;
}