@page
@functions {
    // QueryMethod1 returns a query as its value.
    IEnumerable<string> QueryMethod1(int[] ints) =>
    from i in ints
    where i > 4
    select i.ToString();

    // QueryMethod2 returns a query as the value of the out parameter returnQ
    void QueryMethod2(int[] ints, out IEnumerable<string> returnQ) =>
    returnQ =
    from i in ints
    where i < 4
    select i.ToString();

}
@{
    int[] nums = { 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 };
    IEnumerable<string> myQuery1 = QueryMethod1(nums);
    <label>Results of executing myQuery1:</label>
    foreach (var s in myQuery1)
    {
        <p>@s</p>
    }
}
<br><label>Results of executing myQuery1 directly:</label>
@{
    foreach (var s in QueryMethod1(nums))
    {
        <p>@s</p>
    }
}
@{
    QueryMethod2(nums, out IEnumerable<string> myQuery2);

    <br>
    <label>Results of executing myQuery2:</label>
    foreach (var s in myQuery2)
    {
        <p>@s</p>
    }
}
@{
    myQuery1 =
    from item in myQuery1
    orderby item descending
    select item;

    // Execute the modified query.
    <label>Results of executing modified myQuery1:</label>
    foreach (var s in myQuery1)
    {
        <p>@(s)</p>
    }
}